<h1>Find if a word is a plaindrome!</h1>
<form action="/score">
  <div class="form-group">
     <label for="word">What word would you like to know if it is a palindrom?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
